.background {
    display: none;
}

.content {
    padding: 140px 20px;
}

.content h1 {
    color: var(--accent-color);
    font-size: 3.6em;
    font-weight: 600;
    border-bottom: 1px solid var(--accent-color);
}

.content p {
    margin-top: 25px;
    display: block;
    max-width: 650px;
    color: #404040;
    font-size: 1.2em;
}

@media screen and (min-width: 960px) {
    .about_us {
        display: flex;
        align-items: center;
    }

    .background {
        display: block;
        width: 40%;
        display: flex;
        align-items: center;

        position: relative;
    }

    .background>div {
        width: 400px;
        height: 400px;
        background-image: url('../../assets//img//solar_energy.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .6);

        position: absolute;
        left: -20px;
    }

    .mask {
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }

    .content {
        flex: 1;
        padding: 140px 0;
        padding-right: 80px;
    }
}