.background {
    display: none;
}

.content {
    padding: 140px 20px;
}

.content h1 {
    color: var(--accent-color);
    font-size: 3.6em;
    font-weight: 600;
    border-bottom: 1px solid var(--accent-color);
}

.content p {
    margin-top: 25px;
    display: block;
    max-width: 650px;
    color: #404040;
    font-size: 1.2em;
}

@media screen and (min-width: 960px) {
    .about_us {
        display: flex;
        align-items: center;
    }

    .background {
        width: 50%;
    }

    .shape {
        width: 400px;
        height: 400px;
        background-color: blue;
    }

    .content {
        flex: 1;
        padding: 140px 0;
        padding-right: 80px;
    }
}