@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #404040;
  --alternative-color: #F2F2F2;
  --accent-color: #FB6526;
}

h1,
h2,
p,
a {
  font-family: 'Montserrat', sans-serif;
}

#container {}

@media screen and (min-width: 768px) {}